/* Colores */
:root {
  --color-primary: #4663e5; /* Azul Claro */
  --color-secondary: #81c3f8; /* Azul Más Claro */
  --color-background: #E0E7FF; /* Azul Muy Claro */
  --color-text: #374151; /* Gris Medio */
  --color-accent: #FBBF24; /* Amarillo */
}

/* Fuentes */
body {
  font-family: 'Roboto', sans-serif;
}